---
import { getEntryBySlug, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Seo from '../../components/Seo.astro'; // 👈 importa o componente SEO aqui

export async function getStaticPaths() {
  const posts = await getCollection('ensinamentos');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const { title, description, image, estilo } = post.data;

// Gera a URL completa do post
const url = `https://juremaestradaemar.netlify.app/ensinamentos/${post.slug}`;
---

<Layout 
  title={title}
  description={description}
  estilo={estilo}
  folhas={estilo === "folhas-caindo"}
>

 <!-- Adiciona o SEO dentro do Layout, na área do <head> -->
  <head>
    <Seo title={title} description={description} url={url} image={image} />
  </head>

<main class={`pagina-ensinamento ${post.data.classe}`}>
    <h1>{title}</h1>
    {image && <img src={image} alt={title} class="capa-oracao" />}
    

    <article class="conteudo-oracao">
      <Content />
    </article>
  </main>
</Layout>
